<p id="notice"><%= notice %></p>

<h1>Categories</h1>
<ul>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
          <td><li><%= link_to category.name, category %></li></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
</ul>
<br>

<%= link_to 'New Category', new_category_path %>
